body {
  background-color:#252c38;
  margin: 0 8%;
}

h1 {
  font-family: 'Saira';
  text-align: center;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 6px;

}
h2 {
  font-family: 'Arizonia', cursive;
  font-size: 60px;
  text-align: center;
  margin-top: -87px;
  color: #FFF3BE;
}
span.color-one {
  color: #FFA4EF;
}
span.color-two {
  color: #6FCCC7;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows:minmax(100px, auto);
  grid-gap:1em ;
}
.container > div{
  padding:1em;
}
.box1 {
  grid-column:1/4;
  grid-row: 1/3;
  background: linear-gradient(45deg, rgba(181,118,152,1) 0%, rgba(255,164,239,1) 100%);
  background: -moz-linear-gradient(45deg, rgba(181,118,152,1) 0%, rgba(255,164,239,1) 100%);
}
.box3 {
  grid-column:4/6;
  background: -webkit-linear-gradient(left, rgba(111,204,199,1) 0%, rgba(181,118,152,1) 100%);
  background: linear-gradient(to right, rgba(111,204,199,1) 0%, rgba(181,118,152,1) 100%);
  background: -moz-linear-gradient(left, rgba(111,204,199,1) 0%, rgba(181,118,152,1) 100%);
}
.box4 {
  grid-column:4/6;
  background: linear-gradient(to right, rgba(142,232,232,1) 0%, rgba(214,214,214,1) 100%);
  background: -moz-linear-gradient(left, rgba(142,232,232,1) 0%, rgba(214,214,214,1) 100%);

}
.box2 {
  grid-column: 1/6;
  background: linear-gradient(to right, rgba(255,164,239,1) 0%, rgba(83,230,201,1) 100%);
  background: -moz-linear-gradient(left, rgba(255,164,239,1) 0%, rgba(83,230,201,1) 100%);
  background: -webkit-linear-gradient(left,rgba(255,164,239,1) 0%, rgba(83,230,201,1) 100%);
}
.box5 {
  background: linear-gradient(to right, rgba(255,175,105,1) 0%, rgba(255,164,239,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,175,105,1) 0%, rgba(255,164,239,1) 100%);
  background: -moz-linear-gradient(left, rgba(255,175,105,1) 0%, rgba(255,164,239,1) 100%);
}
.box6 {
  background: linear-gradient(to right, rgba(255,243,190,1) 0%, rgba(255,164,239,1) 100%);
  background: -moz-linear-gradient(left, rgba(255,243,190,1) 0%, rgba(255,164,239,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,243,190,1) 0%, rgba(255,164,239,1) 100%);
}
.box7 {
background: radial-gradient(ellipse at center, rgba(255,243,190,1) 0%, rgba(255,175,105,1) 100%);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,243,190,1) 0%, rgba(255,175,105,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,243,190,1) 0%, rgba(255,175,105,1) 100%);
}
.box8 {
  background: -moz-linear-gradient(top, rgba(255,243,190,1) 0%, rgba(255,164,239,1) 100%);
  background: linear-gradient(to bottom, rgba(255,243,190,1) 0%, rgba(255,164,239,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,243,190,1) 0%, rgba(255,164,239,1) 100%);

}
.box9 {
  background: linear-gradient(to bottom, rgba(255,175,105,1) 0%, rgba(255,164,239,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,175,105,1) 0%, rgba(255,164,239,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,175,105,1) 0%, rgba(255,164,239,1) 100%);
}
.box10 {
  background: linear-gradient(45deg, rgba(255,175,105,1) 0%, rgba(111,204,199,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(255,175,105,1) 0%, rgba(111,204,199,1) 100%);
  background: -moz-linear-gradient(45deg, rgba(255,175,105,1) 0%, rgba(111,204,199,1) 100%);
}
.box11 {
  background: linear-gradient(135deg, rgba(181,118,152,1) 0%, rgba(255,175,105,1) 100%);
  background: -moz-linear-gradient(-45deg, rgba(181,118,152,1) 0%, rgba(255,175,105,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(181,118,152,1) 0%, rgba(255,175,105,1) 100%);
}
.box12 {
  background: radial-gradient(ellipse at center, rgba(255,243,190,1) 0%, rgba(111,204,199,1) 100%);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,243,190,1) 0%, rgba(111,204,199,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,243,190,1) 0%, rgba(111,204,199,1) 100%);
}
.box13 {
  background: linear-gradient(135deg, rgba(255,175,105,1) 0% , rgba(181,118,152,1) 100%);
  background: -moz-linear-gradient(-45deg, rgba(255,175,105,1) 0%, rgba(181,118,152,1)  100%);
  background: -webkit-linear-gradient(-45deg, rgba(255,175,105,1) 0% , rgba(181,118,152,1) 100%);
}
.box14 {
  background: linear-gradient(45deg, rgba(111,204,199,1) 0%, rgba(255,175,105,1)100%);
  background: -webkit-linear-gradient(45deg, rgba(111,204,199,1) 0%, rgba(255,175,105,1)100%);
  background: -moz-linear-gradient(45deg, rgba(111,204,199,1) 0%, rgba(255,175,105,1)100%);
}
.diamond {
  width: 50px;
  height:50px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

  text-align: center;
  margin: auto;
  line-height: 50px;
  border-radius: 8px;
  transform: rotate(45deg);
}
.number {
  transform: rotate(-45deg);
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}
